{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes do Projeto{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="mb-0">Detalhes do Projeto</h1>
        <div>
            <button id="toggle-edit" class="btn btn-warning me-2">Habilitar Edição</button>
            <button id="delete-project" class="btn btn-danger" onclick="confirmDeletion('/projetos/excluir/{{projeto.id}}')">Excluir projeto
            </button>
        </div>
    </div>
    
    <form method="POST" action="{% url 'projeto_detalhes' projeto.id %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Projeto</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ projeto.nome }}" required disabled>
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="4" required disabled>{{ projeto.descricao }}</textarea>
        </div>

        <div class="mb-3">
            <label for="criador" class="form-label">Criador</label>
            <input type="text" class="form-control" id="criador" value="{{ projeto.criador.username }}" disabled>
        </div>

        {% include 'membros.html' %}

        <div class="mb-3">
            <label for="data_criacao" class="form-label">Data de Criação</label>
            <input type="text" class="form-control" id="data_criacao" value="{{ projeto.data_criacao }}" disabled>
        </div>

        {% include 'tags.html' %}

        <button id="save-button" type="submit" class="btn btn-primary opacity-75" disabled>Salvar Alterações</button>
        <a href="{% url 'projetos' %}" class="btn btn-secondary">Voltar</a>
    </form>
</div>


<script src="{% static 'tags.js' %}"></script>
<script src="{% static 'membros.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleEditButton = document.getElementById('toggle-edit');
        const saveButton = document.getElementById('save-button');
        const formElements = document.querySelectorAll('#nome, #descricao, #nova_tag');
        const tagElements = document.querySelectorAll('.tag-toggle');
        const membroElements = document.querySelectorAll('.membro-toggle');
        let isEditing = true;

        // Função para alternar o estado de edição
        function toggleEdit() {
            // Atualiza o estado das tags e membros (habilita ou desabilita cliques)
            tagElements.forEach(tag => {
                if (isEditing) {
                    tag.addEventListener('click', toggleTagState);
                } else {
                    tag.removeEventListener('click', toggleTagState);
                }
            });
            
            membroElements.forEach(membro => {
                if (isEditing) {
                    membro.addEventListener('click', toggleMembroState);
                } else {
                    membro.removeEventListener('click', toggleMembroState);
                }
            });
            isEditing = !isEditing;
            formElements.forEach(el => el.disabled = !isEditing);
            saveButton.disabled = !isEditing;   

            toggleEditButton.textContent = isEditing ? 'Desabilitar Edição' : 'Habilitar Edição';
            toggleEditButton.classList.toggle('btn-warning', !isEditing);
            toggleEditButton.classList.toggle('btn-success', isEditing);
        }

        function toggleTagState() {
            this.classList.toggle('bg-primary');
            this.classList.toggle('bg-secondary');
            updateSelectedTags();
        }

        function toggleMembroState() {
            this.classList.toggle('bg-primary');
            this.classList.toggle('bg-secondary');
            updateSelectedMembros();
        }

        function updateSelectedTags() {
            const selectedTags = Array.from(document.querySelectorAll('.tag-toggle.bg-primary'))
                .map(tag => tag.dataset.tagId);
            document.getElementById('selected-tags').value = selectedTags.join(',');
        }

        function updateSelectedMembros() {
            const selectedMembros = Array.from(document.querySelectorAll('.membro-toggle.bg-primary'))
                .map(membro => membro.dataset.membroId);
            document.getElementById('selected-membros').value = selectedMembros.join(',');
        }
        toggleEdit();
        toggleEditButton.addEventListener('click', toggleEdit);
    });
</script>
{% endblock %}
