{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-4 ">Minhas Tarefas</h1>
        {% if tarefas_do_usuario %}
            <form method="get">
                <label for="ordenar" class="me-2">Ordenar por:</label>
                <select id="ordenar" name="ordenar" class="form-select d-inline-block w-auto" onchange="this.form.submit()">
                    <option value="" {% if not request.GET.ordenar %}selected{% endif %}>Selecione</option>
                    <option value="prazo" {% if request.GET.ordenar == 'prazo' %}selected{% endif %}>Prazo Final</option>
                </select>
            </form>
        {% endif %}
    </div>
        {% if tarefas_do_usuario %}
        <ul class="list-group">
            {% for tarefa in tarefas_do_usuario %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">{{ tarefa.titulo }}</h5>
                        <span class="badge {% if tarefa.status == 'Feito' %}bg-success{% elif tarefa.status == 'Em andamento' %}bg-warning text-dark{% elif tarefa.status == 'To Do' %}bg-danger{% else %}bg-secondary{% endif %} px-3 py-2">
                            {{ tarefa.status }}
                        </span>
                    </div>
                    <p class="mb-1 text-muted">{{ tarefa.descricao }}</p>
                    <p class="mb-1">
                        <strong>Projeto:</strong> {{ tarefa.projeto.nome }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <span><strong>Criado em:</strong> {{ tarefa.data_criacao|date:"d/m/Y H:i" }}</span>
                        <span class="ms-auto"><strong>Prazo final:</strong> {{ tarefa.data_prazo_final|date:"d/m/Y" }}</span>
                    </div>
                    <p class="mb-0">
                        <strong>Tags:</strong>
                        {% for tag in tarefa.tags.all %}
                            <span class="badge bg-primary">{{ tag.nome }}</span>
                        {% empty %}
                            <span class="text-muted">Nenhuma tag</span>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Você ainda não possui tarefas cadastradas.</p>
    {% endif %}
</div>
{% endblock %}
