{% extends 'base.html' %}
{% load static %} 

{% block title %}Cadastro de nova Tarefa{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="mb-4">Cadastrar nova Tarefa</h1>
            <form method="POST" action="{% url 'tarefa_adicionar' id_projeto %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="4"></textarea>
                </div>

                <div class="mb-3">
                    <label for="atribuido_a" class="form-label">Atribuído a</label>
                    <select class="form-select" id="atribuido_a" name="atribuido_a">
                        <option value="" selected>Sem atribuição</option>
                        {% for membro in membros_do_projeto %}
                            <option value="{{ membro.id }}">{{ membro.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                        <option value="To Do" selected>To Do</option>
                        <option value="Em andamento">Em andamento</option>
                        <option value="Feito">Feito</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="data_prazo_final" class="form-label">Prazo Final</label>
                    <input type="date" class="form-control" id="data_prazo_final" name="data_prazo_final" required min="{{ hoje }}">
                </div>

                {% include 'tags.html' %}

                <button type="submit" class="btn btn-success">Adicionar Tarefa</button>
                <a href="{% url 'projeto_detalhes' id_projeto %}" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'tags.js' %}"></script>
{% endblock %}
